<div class="main main-raised">
  <div class="container">
    <form class="contact-form" (ngSubmit)="start(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">размер игрового поля*</label>
            <input type="text" class="form-control" name="size" [(ngModel)]="defaulSize" pattern="[1-9]" ngModel
                   required>
            <input type="text" class="form-control" name="step" [(ngModel)]="defaulStep" pattern="[1-9]" ngModel
                   required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto text-center">
          <button class="btn btn-primary btn-raised" [disabled]="f.form.invalid">
            start
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
  <app-item-tr [tr]="items" [biggest]="fs.getBiggest"></app-item-tr>
</div>
