<div class="item-tr" *ngFor="let items of  tr;">
  <div class="tr-number" [ngClass]="{empty_number: item === biggest}" (click)="numberClick(item)"
       *ngFor="let item of items;">{{item}}
  </div>
</div>
