:host {
  .item-tr {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    .tr-number {
      border: 1px solid sienna;
      height: 50px;
      width: 50px;
      &.empty_number {
        color: white;
      }
    }
  }
}
