<ng-container *ngIf="vk.token; else loggedIn">
  <app-user [user]="user$ | async"></app-user>
  <div>
    <div>Друзяшки</div>
    <div>
      <app-friend *ngFor="let frined of friends$ | async" [frined]="frined"></app-friend>
    </div>
  </div>
</ng-container>
<ng-template #loggedIn>
  <a (click)="vk.getCode()">авторизоваться) </a>
</ng-template>
